::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid;
}
body {
    height: 100vh;
    width: 100vw;
    position: relative; 
    background: linear-gradient(13deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%);
}
.texto {
    width: 1600px;
}
marquee {
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 8px;
    line-height: 50px;
}
.container {
    top: 25%;
    left: 35%;
    height: 500px;
    width: 500px;
    position: absolute;
}
video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
.rnb {
    top: -140px;
    width: 1920px;
    height: 250px;
    position: relative;
}
.spn {
    width: 1000px;
    top: -120px;
    right: -400px;
    position: relative;
}
    
